# networks.auto.tfvars

networks = [
  {
    name      = "wan-net"
    mode      = "nat"
    autostart = true

    ipv4_address      = "172.16.254.1"
    ipv4_prefix       = 24
    ipv4_dhcp_enabled = true
    ipv4_dhcp_start   = "172.16.254.10"
    ipv4_dhcp_end     = "172.16.254.200"

    #ipv6_address      = "fd00:172:16:254::1"
    #ipv6_prefix       = 64
    #ipv6_dhcp_enabled = true
    #ipv6_dhcp_start   = "fd00:172:16:254::100"
    #ipv6_dhcp_end     = "fd00:172:16:254::1ff"
  },
  {
    name      = "uplink-net"
    mode      = "isolated"
    autostart = true

    ipv4_address      = "10.20.1.1"
    ipv4_prefix       = 29
    ipv4_dhcp_enabled = false
  },
  {
    name      = "servers-net"
    mode      = "isolated"
    autostart = true

    ipv4_address      = "10.20.100.1"
    ipv4_prefix       = 24
    ipv4_dhcp_enabled = false
  },
  {
    name      = "dmz-net"
    mode      = "isolated"
    autostart = true

    ipv4_address      = "10.20.200.1"
    ipv4_prefix       = 24
    ipv4_dhcp_enabled = false
  },
  {
    name      = "clientes_ti-net"
    mode      = "isolated"
    autostart = true

    ipv4_address      = "10.20.10.1"
    ipv4_prefix       = 24
    ipv4_dhcp_enabled = false
  },
  {
    name      = "clientes_fin-net"
    mode      = "isolated"
    autostart = true

    ipv4_address      = "10.20.11.1"
    ipv4_prefix       = 24
    ipv4_dhcp_enabled = false
  },
  {
    name      = "ipv6-net"
    mode      = "nat"
    autostart = true

    ipv6_address      = "fd00:192:168:254::1"
    ipv6_prefix       = 64
    ipv6_dhcp_enabled = true
    ipv6_dhcp_start   = "fd00:192:168:254::100"
    ipv6_dhcp_end     = "fd00:192:168:254::1ff"
  }
]